/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777777;
$color-white: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* adds line height more then default */
  color: $color-grey-dark;
  padding: 30px;
}


.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.901),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover; /* always tries to fit the element inside the box */
  background-position: top; /* The top of the image always stays the bottom gets cropped. */
  /* Move in the clockwise direction to check which co-ordinates are moving x or Y */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

/* Centering stuff in CSS
   position is absolute
   and then just bring it down by 50% and to the left 50% 
   then we want to take in consideration the actual height and width of the object so we transform it to translate -50% 
*/

.logo-box {
  position: absolute;
  /* The top and left 40px are relative to its parent element i.e. the header */
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px; /* width is done by the browser */
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* To center the button which is just text we are using text-align center here because this is the parent element */
  text-align: center;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
}
/* Displaying them in two seperate lines is achieved by using display blocks as it takes the whole width. */

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* animation-delay: 3s; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-bottom: 60px;
}

/* CSS ANIMATIONS USING KEYFRAMES */
/* Move main heading from left to right */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 0.6;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* move sub heading from right to left */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    opacity: 0.6;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* BUTTON AND PSEUDO ELEMENTS */
/* pseudo class link  styling element under a special state*/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 200px;
  transition: all 0.2s;
}

/* Hover state */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* Clicked state i.e. the active state */
.btn:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color:$color-white;
  color: $color-grey-dark;
}
